.container-form{
    display: flex;
    justify-content: center;
}

form{
    width: 50%;
    color: #bca471;
}

.ubicacion-boton{
    justify-content: center;
}

.boton{
    margin: 4px;
    background-color: #bca471;
}

.boton:hover{
    color: black;
    background-color: green;
}

.tabla-personalizada{
    width: 100%;
    text-align: center;
    color: aliceblue;
}

.iconos{
    display: flex;
    justify-content: center;
}

button{
    border-radius: 5px;
    margin: 0px 5px;
}

.icono-mirar{
    background-color: rgb(5, 194, 5);
}

.icono-editar{
    background-color:  yellow;
}

.icono-eliminar{
    background-color: red;
}
