/*PAGINA INICIO*/
.carrousel{
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-cards{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.card{
    border: 2px solid #bca471;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.card:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;

}

.card-body{
    color: aliceblue;
    background-color: black;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contenedor-bebidas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-img{
    width: 285,6px;
    height: 285px;
    border-radius: 5px 5px 0px 0px;
}

.btn{
    background-color: black;
    color: aliceblue
}

.modal-content{
    background-color: #bca471;
}

footer h3{
    padding: 20px;
}
